<!DOCTYPE html>
<html lang="ru">
<meta charset="utf-8">
<link rel="stylesheet" href="\static\css\style.css">
<link type="image/png" sizes="128x128" rel="icon" href='/static/img/favicon.ico'>
<title>Главная</title>

<body>


    {% block content %}
    {%- block mainmenu -%}
    <header>
        <nav class="menu">
            <nav class="nav">
                <div class="dropdown">
                    <button class="dropbtn">Каталог</button>
                    <div class="dropdown-content">
                        <a href="/themes">Основные темы</a>
                        <a href="/keyboard_shortcut">Сочетание клавиш</a>
                        <a href="/dictionary_computer_terms">Словарь компьютерных терминов</a>
                    </div>
                </div>
            </nav>
            <ul class="menu1">
                <a class="link" href="/"> Главная</a>
                <a class="link" href="/questions"> Часто задаваемые вопросы</a>
                {% for m in menu -%}
                <a class="link" href="{{url_for(m.url)}}"> {{m.title}}</a>


                {% endfor -%}

                {% endblock mainmenu -%}

            </ul>
        </nav>





    </header>



    {% endblock %}
</body>

</html>